# Add files here to ignore them from prettier formatting

/.gradle
/.idea
/.nx/cache
/.nx/workspace-data
/build
/coverage
/dist
/node_modules
/docs/node_modules
kube/helm/templates/
kube/helm/charts/*/templates/
