[workspace]
resolver = "2"
members = [
  "packages/shulker-crds",
  "packages/shulker-operator",
  "packages/shulker-utils",
  "packages/google-agones-crds",
  "packages/shulker-sdk/bindings/rust"
]

[workspace.package]
version = "0.3.0"
authors = ["Jérémy Levilain <jeremy@jeremylvln.fr>"]
edition = "2021"
publish = false

[workspace.dependencies]
# In workspace
shulker-crds = { path = "./packages/shulker-crds" }
shulker-operator = { path = "./packages/shulker-operator" }
google-agones-crds = { path = "./packages/google-agones-crds" }
shulker-utils = { path = "./packages/shulker-utils" }
shulker-sdk = { path = "./packages/shulker-sdk/bindings/rust" }

# External
actix-web = "4.4.0"
anyhow = "1.0.75"
async-trait = "0.1.74"
base64 = "0.21.5"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.7", features = ["derive"] }
futures = "0.3.29"
hostname = "0.3.1"
http = "0.2.9"
hyper = "0.14.27"
insta = { version = "1.34.0", features = ["yaml", "toml", "redactions"] }
k8s-openapi = { version = "0.20.0", features = ["latest", "schemars"] }
kube = { version = "0.87.1", features = ["runtime", "client", "derive" ] }
lazy_static = "1.4.0"
prometheus = "0.13.3"
prost = "0.12.1"
rand = "0.8.5"
schemars = { version = "0.8.15", features = ["chrono"] }
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.108"
serde_yaml = "0.9.27"
strum = { version = "0.25.0", features = ["derive"] }
thiserror = "1.0.50"
tonic = { version = "0.10.2", features = ["gzip"] }
tokio = { version = "1.33.0", features = ["macros", "rt-multi-thread"] }
tokio-util = "0.7.10"
toml = "0.8.6"
tower-test = "0.4.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["json", "env-filter"] }
url = "2.4.1"
uuid = { version = "1.5.0", features = ["v4"] }
