[package]
name = "shulker-addon-matchmaking"
version.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true

[[bin]]
name = "shulker-addon-matchmaking-director"
path = "src/bin/director.rs"
doc = false
# required-features = ["shulker-addon-matchmaking-bin"]

[[bin]]
name = "shulker-addon-matchmaking-mmf"
path = "src/bin/mmf.rs"
doc = false
# required-features = ["shulker-addon-matchmaking-bin"]

[lib]
name = "shulker_addon_matchmaking"
path = "src/lib.rs"

[features]
default = []
# shulker-addon-matchmaking-bin = ["clap"]

[dependencies]
anyhow.workspace = true
clap.workspace = true
futures.workspace = true
google-agones-crds.workspace = true
google-open-match-sdk = { workspace = true, features = ["server"] }
kube.workspace = true
pbjson-types.workspace = true
prost.workspace = true
shulker-crds.workspace = true
shulker-kube-utils.workspace = true
shulker-sdk = { workspace = true, features = ["client"] }
shulker-utils.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
tokio-util.workspace = true
tonic.workspace = true
tracing.workspace = true
uuid.workspace = true
