nameOverride: ""
fullnameOverride: ""

global:
  # Reference to one or more secrets to be used when pulling images
  # ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  imagePullSecrets: []
  # - name: "image-pull-secret"

  rbac:
    create: true

# Configuration dedicated to the Shulker Operator
operator:
  image:
    repository: ghcr.io/jeremylvln/shulker-operator
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  # Additional command line flags to pass.
  extraArgs: []

  # Additional environment variables to add to the pod.
  extraEnv:
    []
    # - name: MY_ENV_KEY
    #   value: 'my value'

  agones:
    allocator:
      host: agones-allocator.agones-system
      grpcPort: 443
      mtlsSecretName: allocator-client.default

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi

  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  volumes: []

  volumeMounts: []

  podAnnotations: {}

  nodeSelector:
    kubernetes.io/os: linux

  tolerations: []

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
                  - arm64

  livenessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 15
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 5

  startupProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 5

  service:
    type: ClusterIP
    annotations: {}

  metrics:
    enabled: true

    serviceAnnotations: {}

    servicemonitor:
      enabled: false
      labels: {}
      annotations: {}
      prometheusInstance: default
      interval: 60s
      scrapeTimeout: 30s
      honorLabels: false
      endpointAdditionalProperties: {}

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

# Configuration dedicated to th Shulker Matchmaking Addon
shulker-addon-matchmaking:
  # Whether to install the matchmaking addon or not
  enabled: false
