apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "shulker-operator.fullname" . }}
  labels:
    {{- include "shulker-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: shulker-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "shulker-operator.labels" . | nindent 6 }}
      app.kubernetes.io/component: shulker-operator
  template:
    metadata:
      labels:
        {{- include "shulker-operator.labels" . | nindent 8 }}
        app.kubernetes.io/component: shulker-operator
      {{- with .Values.operator.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "shulker-operator.serviceAccountName" . }}
      containers:
        - name: shulker-operator
          image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          args:
            - --metrics-bind-address=0.0.0.0:8080
            - --api-bind-address=0.0.0.0:9090
            {{- if .Values.operator.agones.allocator.mtlsSecretName }}
            - --agones-allocation-tls-client-crt=/mnt/shulker/agones-allocation-client-tls/tls.crt
            - --agones-allocation-tls-client-key=/mnt/shulker/agones-allocation-client-tls/tls.key
            {{- end }}
          ports:
            - containerPort: 8080
              protocol: TCP
              name: metrics
            - containerPort: 9090
              protocol: TCP
              name: api-grpc
          env:
            - name: AGONES_ALLOCATOR_HOST
              value: {{ .Values.operator.agones.allocator.host }}
            - name: AGONES_ALLOCATOR_GRPC_PORT
              value: {{ quote .Values.operator.agones.allocator.grpcPort }}
            {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

          {{- with .Values.operator.livenessProbe }}
          {{- if .enabled }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: metrics
              scheme: HTTP
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          {{- end }}

          {{- with .Values.operator.startupProbe }}
          {{- if .enabled }}
          startupProbe:
            httpGet:
              path: /healthz
              port: metrics
              scheme: HTTP
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          {{- end }}

          {{- with .Values.operator.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- if .Values.operator.agones.allocator.mtlsSecretName }}
          volumeMounts:
            - name: agones-allocation-client-tls
              readOnly: true
              mountPath: "/mnt/shulker/agones-allocation-client-tls"
            {{- with .Values.operator.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- else }}
          {{- with .Values.operator.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}

          {{- with .Values.operator.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}

      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.operator.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- if .Values.operator.agones.allocator.mtlsSecretName }}
      volumes:
        - name: agones-allocation-client-tls
          secret:
            secretName: allocator-client.default
        {{- with .Values.operator.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- else }}
      {{- with .Values.operator.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}

