apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "shulker-addon-matchmaking.fullname" . }}-mmf
  labels:
    {{- include "shulker-addon-matchmaking.labels" . | nindent 4 }}
    app.kubernetes.io/component: shulker-addon-matchmaking-mmf
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "shulker-addon-matchmaking.labels" . | nindent 6 }}
      app.kubernetes.io/component: shulker-addon-matchmaking-mmf
  template:
    metadata:
      labels:
        {{- include "shulker-addon-matchmaking.labels" . | nindent 8 }}
        app.kubernetes.io/component: shulker-addon-matchmaking-mmf
      {{- with .Values.mmf.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "shulker-addon-matchmaking.serviceAccountName" . }}
      containers:
        - name: shulker-addon-matchmaking-mmf
          image: "{{ .Values.mmf.image.repository }}:{{ .Values.mmf.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.mmf.image.pullPolicy }}
          command: ['/shulker-addon-matchmaking-mmf']
          args:
            - --metrics-bind-address=0.0.0.0:8080
            {{- with .Values.mmf.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: 8080
              protocol: TCP
              name: metrics
            - containerPort: 9090
              protocol: TCP
              name: mmf-batch
            - containerPort: 9091
              protocol: TCP
              name: mmf-elo

          env:
            - name: OPEN_MATCH_QUERY_HOST
              value: {{ .Values.mmf.openMatch.query.host }}
            - name: OPEN_MATCH_QUERY_GRPC_PORT
              value: {{ quote .Values.mmf.openMatch.query.grpcPort }}
            {{- with .Values.mmf.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

          {{- with .Values.mmf.livenessProbe }}
          {{- if .enabled }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: metrics
              scheme: HTTP
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          {{- end }}

          {{- with .Values.mmf.startupProbe }}
          {{- if .enabled }}
          startupProbe:
            httpGet:
              path: /healthz
              port: metrics
              scheme: HTTP
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          {{- end }}

          {{- with .Values.mmf.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .Values.mmf.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .Values.mmf.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}

      {{- with .Values.mmf.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.mmf.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.mmf.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.mmf.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.mmf.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
